@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:invalid[focused="true"] ~ span {
    @apply block;
  }

  input:invalid[focused="true"] {
    @apply border-red-500;
  }